.course-info {
  display: flex;
  flex-direction: column;

}

.school-text {
  font-size: 11px;
  color: var(--text-secondary);
  font-weight: 400;
  margin: auto 0;
}
 
.course-info .cell-name {
  line-height: 1.2;
}

.univ-code {
  background-color: var(--gray-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  color: var(--on-surface);
  font-weight: 600;
  margin: auto 0;
}

:host ::ng-deep .badge-level-1 {
  background: #E0E7FF;
  color: #4F46E5;
}

:host ::ng-deep .badge-level-2 {
  background: #FFEDD5;
  color: #EA580C;
}

:host ::ng-deep .badge-level-3 {
  background: #F3E8FF;
  color: #9333EA;
}

:host ::ng-deep .badge-level-4 {
  background: #CCFBF1;
  color: #0D9488;
}


.data-row td {
    padding: 16px 20px;
}
