.sm-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
  background-color: var(--main-bg-color, #E8E7E7);
  min-height: 100vh;
}

.banner-section {
  width: 100%;
}

.content-section {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

/* Animations */
app-semester-banner, .content-section {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .sm-container {
    padding: 0;
    gap: 0.7rem;
  }
  .content-section {
    overflow-x: auto ;
  }
  .banner-section {
    width: 100%;
  }
}
