.results-page-container {
  padding: 3rem 2rem;
  max-width: 100%;
  margin: 0 auto;
  /* min-height: calc(100vh - 64px); */
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 0.5rem;
  letter-spacing: -0.02em;
}

.page-subtitle {
  color: var(--on-surface-variant);
  font-size: 1.1rem;
  font-weight: 500;
}

.page-content {
  position: relative;
  z-index: 2;
}

/* Grid Layout */
.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Loading & States */
.loading-state, .error-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  text-align: center;
}
 .empty-state {
  border-radius: 18px;
  padding: 1.4rem; 
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f8fa;
  border: 1px solid #e9edf0;
}

.empty-state i {
  margin: 0;
  color: #8c97a4;
  font-size: 2.7rem;
}

.loading-state .spinner {
  width: 4rem;
  height: 4rem;
  border: 4px solid var(--surface-container);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 2rem;
}

.loading-state p {
  font-weight: 600;
  color: var(--on-surface-variant);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.875rem;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Pagination */
.pagination-footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--surface-container-low);
  border-radius: 9999px;
}

.page-btn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--on-surface-variant);
  font-weight: 600;
  transition: all 0.2s ease;
  font-size: 0.85rem;
}

.page-btn:hover:not(:disabled) {
  background: var(--surface-container-high);
  color: var(--primary);
}

.page-btn.active {
  background: var(--primary);
  color: white;
  box-shadow: 0 4px 12px rgba(19, 98, 108, 0.2);
}

.page-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.page-btn i {
  font-size: 1.25rem;
}


/* Responseive Adjustments */
@media (max-width: 768px) {
  .results-page-container {
    padding: 2rem 1rem;
  }

   .page-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .results-grid {
    grid-template-columns: 1fr;

  }

  .page-title {
    font-size: 2rem;
  }
  .pagination-footer {
    margin-top: 2rem;
  }
  .pagination-controls {
    gap: 0.1rem;
  }
}
