.semester-icon {
  background: #f9fafb;
  color: #357B85;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duration-text {
  color: #6b7280;
  font-size: 13px;
}

.badge-active {
  background: #DCFCE7;
  color: #166534;
}

.badge-inactive {
  background: #F3F4F6;
  color: #6b7280;
}

.status-btn.active-mode {
  color: #F59E0B;
}

.status-btn:hover {
  background: #fef3c7 !important;
  color: #d97706 !important;
}

.data-row td {
    padding: 20px;
}
